.logo {
    position: absolute;
    inset: 70px auto auto 35px;
    background-image: url('../../public/logo.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 120px;
    height: 65px;
}

.limitSize {
    position: absolute;
    inset: auto 40px 60px auto;
    color: #b1bcda;
}
