.button {
    border: none;
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
    justify-content: center;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    user-select: none;
    -webkit-tap-highlight-color: hsla(0, 0%, 0%, 0);
}

.button svg {
    width: 40px;
    height: 40px;
}
