*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: url("../public/bg.jpg");
    background-color: #3d395f;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    overscroll-behavior: contain;
}

main {
    position: relative;
    display: grid;
    place-items: center;
    min-height: 100vh;
}
